<html>
<!-- <style>
    body {
        width: 100%;
    }

    .primary-btn {
        background-color: #008FD3;
        border: #008FD3;
    }

    .btn-text {
        color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ds-button {
        padding: 0.5rem 1.25rem;
        font-size: 1rem;
        background-color: #969696;
        color: #ffffff;
        border-color: transparent;
        font-size: 1rem;
        color: #3c3c3c;
        font-family: "BentonSansBook", Avenir, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        line-height: 1.5;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.5rem 1.25rem;
        border: 1px solid transparent;
        outline: none;
        line-height: 1.5;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: top;
    }

    .ds-button:hover,
    .ds-button:focus {
        background-color: #727272;
    }

    .ds-button--primary {
        background-color: #007db8;
        color: #ffffff;
        border-color: transparent;
    }

    .ds-button--primary:hover,
    .ds-button--primary:focus {
        background-color: #1e6a92;
    }

    .ds-button--primary:disabled,
    .ds-button--primary.ds-button--disabled {
        background-color: #c6c6c6;
    }

    /* layouts */
    table {
        background-color: red;
        width: 100%;
        height: 100;
        margin: 0;
        padding: 0 28px 0 28px;
    }

    td {
        background-color: orange;

    }

    .divider {
        width: 0%;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    .onethird-image {
        width: 33%;
        height: 100;
    }

    .onethird-section {
        width: 66%;
        height: 100;
    }

    .paragraphs {
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        font-syle: normal;
        color: #222222;
    }

    ul {
        background-color: orange;
        /* display: block; */
        /* list-style-type: disc; */
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    li {
        /* display: list-item; */
        /* text-align: -webkit-match-parent; */
        /* margin-bottom: 12px;  */

    }


    .list-icon {
        width: 100px;
        height: 50;
        text-align: center;
    }
    .list-icon image {
        align-items: center;
    }

    .icon-list-section {
        align-items: flex-start;
    }

    .fifty-fifty-horizontal {
        background-color: red;
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0 28px 0 28px;
    }
    .fifty-section {
        width: 50%;
        margin:0;
        padding:0 0 0 0;
        height: 100px;
      }

    @media only screen and (max-width: 639px) {
        body {
            width: 480px;
        }

        .fifty-section {
            width: 100%;
            margin:0;
            padding:0 0 0 0;
            height: 100px;
            display: block;
        }
    }
</style> -->

<link rel="stylesheet" href="test.css" />

<body>
    <table class="masthead-contiainer bg-black">
        <tbody>
            <tr>
                <td class="masthead-logo-left">
                </td>
                <td class="masthead-logo-right">
                    <a href="https://www.sap.com" target="_blank"><img
                            src="https://fm.sap.com/images/2015/run-simple-email/TheBestRunLogo-64px-White-DG.png"
                            alt="THE BEST RUN" width="104" height="32" />
                        <img src="https://fm.sap.com/images/2015/run-simple-email/logo.png" alt="SAP" width="72"
                            height="36" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <image class="hero-img" src="https://fm.sap.com/images/2014/640x200/277228_l_srgb_s_gl_0640_0200_lr_00_00.jpg">
    </image>

    <table class="hero-container">
        <tbody>
            <tr>
                <td>

                </td>
                <td class="hero-body">
                    <text class="headline-white hero-body">
                        Will 2019 Catapult Your Business into an
                    </text>
                    <text class="headline-gold">
                        Intelligent Enterprise?
                    </text>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="hero-body hero-subtitle">
                    <text class="subtitle txt-white">
                        The most compelling business successes of 2019 will be empowered by "two-way" innovation and by
                        stayin gin step with technology evolution
                    </text>
                </td>
                <td>

                </td>
            <tr>
                <td>

                </td>
                <td class="hero-body">
                    <button class="ds-button ds-button--primary hero-btn">
                        <a>
                            <text>
                                Read about two-way innovation innovation innovation
                            </text>
                        </a>
                    </button>

                    <button class="ds-button ds-button--secondary hero-btn">
                        <a>
                            <text>
                                Watch the Video
                            </text>
                        </a>
                    </button>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td class="secondary-btn">
                </td>
            </tr>
        </tbody>
    </table>

    <table class="full-width-inner-grid">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td class="fifty-section">
                                    <group-headline-component>
                                        <text>
                                            Content Headline
                                        </text>
                                    </group-headline-component>
                                    <paragraphs-component>
                                        <text>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </text>
                                    </paragraphs-component>
                                    <primary-button-component>
                                        <text>
                                            <a>
                                                Learn More
                                            </a>
                                        </text>
                                    </primary-button-component>
                                </td>
                                <td class="fifty-section">
                                    <image
                                        src="https://fm.sap.com/images/2014/488x275/275047_l_srgb_s_gl_0488_0275_rl_00_00.jpg"
                                        alt="" width="282" height="159" border="0"
                                        style="box-sizing: border-box; max-width: 100%; height: auto;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- footer media -->
    <div class="footer-media-container">
        <table class="footer-media-contact">
            <tr>
                <td class="footer-country">
                    <div style="display: flex;">
                        <img src="https://www.sap.com/dam/application/imagelibrary/pictograms/281000/281519-pictogram-neg-orange-trimmed-64w.png"
                            width="32" height="45" />
                        <div>
                            <div
                                style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999">
                                Canada
                            </div>
                            <div
                                style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px; line-height: 1.2; color: #999999; white-space: nowrap; text-decoration: none;">
                                1-888-342-5727
                            </div>
                            <div
                                style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999;">
                                <div>
                                    List of
                                    <a href="https://www.sap.com/corporate/en/company/office-locations.html"
                                        target="_modal" data-sap-hpa-ceimo-link-alias="CONTACT"
                                        style="text-decoration: underline;color:#999999;">
                                        local country numbers
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="footer-contact" valign="top">
                    <div style="display: flex;">
                        <img src="https://www.sap.com/dam/application/imagelibrary/pictograms/281000/281022-pictogram-neg-purple-trimmed-64w.png"
                            width="32" height="22" />
                        <div
                            style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999; ">
                            <a href="https://www.sap.com/canada/registration/contact.html"
                                style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999; text-decoration: none;"
                                target="_blank">
                                Contact SAP
                            </a>
                        </div>
                    </div>
                </td>

            </tr>
        </table>

        <table class="footer-media-actions">
            <tr>
                <td width="33%" class="action-item">
                    <div
                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999">
                        <a id="unsubscribeLink"
                            href="https://www.sap.com/canada/profile/unsubscribe.html?subscriptionID=1B04CC77-4253-41A8-A7CD-0809D8E1C32A"
                            target="_blank" title="Unsubscribe"
                            style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; line-height: 1.25; color: #999999; text-decoration: none;">Unsubscribe</a>
                    </div>
                </td>
                <td width="33%" class="action-item">
                    <div
                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999">
                        <a id="subscribeLink" href="https://www.sap.com/us/optin" target="_blank" title="Subscribe"
                            style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; line-height: 1.25; color: #999999; text-decoration: none;">Subscribe</a>
                    </div>
                </td>
                <td width="33%" class="action-item">
                    <div
                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999">
                        <a href="https://www.sap.com/canada/about/legal/copyright.html" target="_blank"
                            title="Copyright"
                            style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; line-height: 1.25; color: #999999; text-decoration: none;">Copyright</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="33%" class="action-item">
                    <div
                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999">
                        <a href="https://www.sap.com/canada/about/legal/privacy.html" target="_blank" title="Privacy"
                            style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; line-height: 1.25; color: #999999; text-decoration: none;">Privacy</a>
                    </div>
                </td>
                <td width="33%" class="action-item">
                    <div
                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999">
                        <a href="https://www.sap.com/canada/about/legal/impressum.html" target="_blank"
                            title="Legal Disclosure"
                            style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; line-height: 1.25; color: #999999; text-decoration: none;">Legal
                            Disclosure</a>
                    </div>
                </td>
                <td width="33%" class="action-item">
                    <div class="footer-link"
                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999">
                        <a href="https://www.sap.com/canada/index.html" target="_blank" title="Visit SAP.com"
                            style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; line-height: 1.25; color: #999999; text-decoration: none;">Visit
                            SAP.com</a>
                    </div>
                </td>
            </tr>
        </table>
        <table class="footer-media-social">
            <tr class="footer-media-social-flex">
                <td class="footer-logo">
                    <image src="https://fm.sap.com/images/2015/run-simple-email/logo.png" height="32px" />
                </td>
                <td valign="middle" class="footer-find-us">
                    <div valign="middle"
                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.25; color: #999999;">
                        Find us on</div>
                </td>
                <td valign="top" class="social-media-items">
                    <table>
                        <tr>
                            <td> <a href="https://www.facebook.com/SAP" title="Facebook" target="_blank"
                                    style="display: inline-block; vertical-align: top; text-decoration: none !important; width: 26px; height: 26px;">
                                    <img src="https://www.sap.com/dam/application/shared/images/social-icons/icon-2018-facebook-email.jpg"
                                        alt="Facebook" width="26" height="26"
                                        style="width: 26px; height: 26px; border: 0 none; line-height: 100%; outline: none; text-decoration: none; display: block;">
                                </a> </td>
                            <td> <a href="https://twitter.com/SAPNorthAmerica" title="Twitter" target="_blank"
                                    style="display: inline-block; vertical-align: top; text-decoration: none !important; width: 26px; height: 26px;">
                                    <img src="https://www.sap.com/dam/application/shared/images/social-icons/icon-2018-twitter-email.jpg"
                                        alt="Twitter" width="26" height="26"
                                        style="width: 26px; height: 26px; border: 0 none; line-height: 100%; outline: none; text-decoration: none; display: block;">
                                </a> </td>
                            <td> <a href="https://www.youtube.com/playlist?list=PL3ZRUb1AKkpTeHh72n51zd4XZnlAAs2Tw"
                                    title="YouTube" target="_blank"
                                    style="display: inline-block; vertical-align: top; text-decoration: none !important; width: 26px; height: 26px;">
                                    <img src="https://www.sap.com/dam/application/shared/images/social-icons/icon-2018-youtube-email.jpg"
                                        alt="YouTube" width="26" height="26"
                                        style="width: 26px; height: 26px; border: 0 none; line-height: 100%; outline: none; text-decoration: none; display: block;">
                                </a> </td>
                            <td> <a href="https://www.linkedin.com/company/sap" title="LinkedIn" target="_blank"
                                    style="display: inline-block; vertical-align: top; text-decoration: none !important; width: 26px; height: 26px;">
                                    <img src="https://www.sap.com/dam/application/shared/images/social-icons/icon-2018-linked-in-email.jpg"
                                        alt="LinkedIn" width="26" height="26"
                                        style="width: 26px; height: 26px; border: 0 none; line-height: 100%; outline: none; text-decoration: none; display: block;">
                                </a> </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- footer fine print -->
    <div style="background-color: #fafafa; padding: 30px 20px 30px 20px;">
        <p style="font-size: 14px; color: #666666; font-family: Arial, Helvetica, sans-serif; padding: 0; margin: 0;">
            <span>
                SAP
                Canada, Inc., 222 Bay Street, 20th Floor, Toronto,
                Ontario M5K1B7
            </span>
            <br />
            <br />
            <span>This
                e-mail may contain trade secrets or privileged,
                undisclosed, or otherwise confidential information. If
                you have received this e-mail in error, you are hereby
                notified that any review, copying, or distribution of it
                is strictly prohibited. Please inform us immediately and
                destroy the original transmittal. Thank you for your
                cooperation.
            </span>
            <br />
            <br />
            <span>This
                promotional e-mail was sent to you and provides
                information on SAP’s products and services that may
                interest you. If you prefer not to receive e-mail from
                SAP in the future, please click on the <a
                    href="https://www.sap.com/canada/profile/unsubscribe.html?subscriptionID=1B04CC77-4253-41A8-A7CD-0809D8E1C32A"
                    target="_blank" style="text-decoration:none; color: #008ed2;">Unsubscribe</a>
                link.
            </span>
            <br />
            <br />
            <span style="font-family: Arial, Helvetica, sans-serif;">
                To
                ensure you continue to receive SAP related information
                properly please add
                <a href="mailto:sap@mailsap.com" style="text-decoration:none; color: #008ed2;">sap@mailsap.com</a>
                to your address book or safe senders list.
            </span>
        </p>

    </div>







    <br />
    <br />

    <br />

    <br />

    <br />

    <br />
    <br />

    <br />

    <br />

    <br />

    <br />

    <br />
    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

    <br />
    <br />


    <table class="masthead-contiainer bg-black">
        <tbody>
            <tr>
                <td class="masthead-logo-left">
                    <a href="https://www.sap.com" target="_blank">
                        <img src="https://dgl-qa.t.dam.sap.com/mac/tdownload/ptd/NQbSnJY.htm" alt="SAP" />
                    </a>
                </td>
                <td class="masthead-logo-right">
                    <a href="https://www.sap.com" target="_blank"><img id="thebestrun"
                            src="https://fm.sap.com/images/2015/run-simple-email/TheBestRunLogo-64px-White-DG.png"
                            alt="THE BEST RUN" width="104" height="32" />
                        <img src="https://fm.sap.com/images/2015/run-simple-email/logo.png" alt="SAP" width="72"
                            height="36" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="masthead-topbar"></div>
    <table class="masthead-contiainer bg-white">
        <tbody>
            <tr>
                <td class="masthead-logo-left">
                    TODO insert picture/logo list
                </td>
                <td class="masthead-logo-right">
                    <a href="https://www.sap.com" target="_blank"><img id="thebestrun"
                            src="https://fm.sap.com/images/2015/run-simple-email/TheBestRunLogo-64px-Black-DG.png"
                            alt="THE BEST RUN" width="104" height="32" />
                        <img src="https://fm.sap.com/images/2015/run-simple-email/logo.png" alt="SAP" width="72"
                            height="36" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="masthead-contiainer bg-black">
        <tbody>
            <tr>
                <td class="masthead-logo-left">
                    <a href="https://www.sap.com" target="_blank">
                        <img src="./testimages/2018-SAPNOWLogo-Exported/SAPNOW-exported/SAPNOW-32px-neg-blackbkgd.png"
                            alt="SAP" />
                    </a>
                </td>
                <td class="masthead-logo-right">
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <button class="ds-button ds-button--primary">
        <text>Download</text>
    </button>
    <button class="ds-button ds-button--primary" disabled>
        <text>Download</text>
    </button>

    <table>
        <tbody>
            <tr>
                <td class="onethird-image">
                    <image src="https://fm.sap.com/images/2014/488x275/275047_l_srgb_s_gl_0488_0275_rl_00_00.jpg" alt=""
                        width="282" height="159" border="0"
                        style="box-sizing: border-box; max-width: 100%; height: auto" />
                </td>
                <td class="onethird-section"></td>
            </tr>
        </tbody>
    </table>

    <a href="https://www.google.com/">
        <image src="https://fm.sap.com/images/2014/488x275/275047_l_srgb_s_gl_0488_0275_rl_00_00.jpg" alt="" width="282"
            height="159" />
    </a>

    <ul>
        <li><text class="paragraphs">Cloud Development</text></li>
        <li><text class="paragraphs">Cloud Development</text></li>
        <li><text class="paragraphs">Cloud Development</text></li>
    </ul>

    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="hide" style="line-height: 1px; font-size: 1px" height="10">
                    &nbsp;
                </td>
            </tr>
            <tr data-section="item">
                <td>
                    <div class="mobileBorder" style="line-height: 0; font-size: 0">
                        &nbsp;
                    </div>
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="width71" valign="top" width="50">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="hide" style="line-height: 1px; font-size: 1px" colspan="2"
                                                    height="5">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="hide" width="10">&nbsp;</td>
                                                <td class="mobileIcon" width="30" data-section="ico-bullet">
                                                    <img class="ico-bullet"
                                                        src="https://fm.sap.com/images/2015/run-simple-email/ico-bullet.png"
                                                        alt="" width="20" height="20" border="0" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="mceEditable" style="
                      min-width: 20px;
                      font: 14px/21px Arial, Helvetica, sans-serif;
                      color: #444444;
                    " align="left">
                                    <a target="_blank" style="text-decoration: none; color: #008cd2"
                                        href="https://fm.sap.com/campaigns/XXXXXXX/index.html"
                                        data-sap-hpa-ceimo-link-alias="CTA">Asset Title</a><br />Lorem ipsum dolor sit
                                    amet, consectetur adipiscing
                                    elit. Suspendisse nec adipiscing ligula. Nunc ac eros nunc.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="hide" style="line-height: 1px; font-size: 1px" height="15">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>

    <br />
    <table>
        <tr>
            <td class="list-icon">
                <image src="https://fm.sap.com/images/2014/pictograms_256/281097_Checkmark_R_orange.png" width="30"
                    height="auto" />
            </td>
            <td class="icon-list-section">
                <div>
                    <a target="_blank">
                        <text> Asset Title </text>
                    </a>
                </div>
                <text class="paragraphs">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    nec adipiscing ligula. Nunc ac eros nunc
                </text>
            </td>
        </tr>
    </table>

    <br />

    <table class="fifty-fifty-horizontal">
        <tbody>
            <tr>
                <td class="fifty-section">data</td>
                <td class="fifty-section">data</td>
            </tr>
        </tbody>
    </table>
</body>

</html>