.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gjs-pn-myPanel {
  left: 200px;
}

.gjs-pn-devices-c  {
  left: 50px !important;
}

/* .gjs-pn-devices-c {
  left:500px;
} */
/* .gjs-pn-views-container {
  width: 200px !important;
} */

/* Theming */

/* Primary color for the background */
.gjs-one-bg {
  background-color: #ffffff !important;
}

/* Secondary color for the text color */
.gjs-two-color {
  color: rgb(0, 0, 0) !important;
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: #0a6ed1 !important;
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #0a6ed1 !important;
}

/* selector input */
.gjs-three-bg {
  background-color: #0a6ed1 !important;
  color: black !important;
}
.gjs-clm-tags #gjs-clm-new {
  color: black !important;
  padding: 5px 6px;
  display: none;
}

.gjs-btn-prim {
  color: #0854a0 !important;
  background-color: white !important;
  border-radius: 0.25rem !important;
  border-color: #0854a0 !important;
  padding: 3px 6px !important;
  padding: 5px !important;
  border: 1px solid !important; 
  box-sizing: border-box !important;
}

.CodeMirror {
  margin-bottom: 5px !important;
}

.fa-3-5x {
font-size: 3.5em;
}

.fa-2-5x {
  font-size: 2.5em;
  }

.fa-margin12 {
  margin-top: 12px;
}

.fa-margin7 {
  margin-top: 7px;
}

.fa-white {
  color: white;
  background-color: black;
}

.fa-gold {
  color: gold;
}

.fa-grey {
  color:grey;
}

.fa-trash-o:before {
  content: "\F1F8" !important;
}